<link rel="stylesheet" href="/companion/views/styles/marketplace.css" onload="document.querySelector('.loading-screen').style.display='flex'"/>

<div class="loading-screen" style="display:none;">
	<i style="color:var(--text-color-secondary)">Marketplace is loading...</i>
	<div class="loader"></div>
	<h2 class="message">Setting up...</h2>
</div>
<div class="load-upon-finish" style="display: none;">
	<div class="main-content">
		<ul class="repositories"></ul>
		<div class="marketplace">
		</div>
	</div>
</div>

<script type="module">
	if (document.querySelector("#add-repo")) {
		document.querySelector("#add-repo").remove();
	}

	const dialog = universal.UI.makeGenericModal(
		universal.translationKey("marketplace.add.title"),
		universal.translationKey("marketplace.add.description"),
		[],
		true,
		`
        <div class="flex-wrap-r mp-center">
				<div class="mp-left">
					<small class="add-msg"></small>
<summary data-i18n-key="marketplace.add.presets"></summary>
            <div class="flex-wrap-r preset-repositories">
                <button class="repo-preset" data-repo='{"t":"freedeck.app","u":"https://releases.freedeck.app/index.json"}'>Official Repository</button>
                <button class="repo-preset" data-repo='{"t":"FreedeckEx","u":"https://freedeckex.moonprod.me/manifest.json"}'>FreedeckEx Repository</button>
            </div>
            <small><span data-i18n-key="marketplace.add.ask"></span><a href="https://docs.freedeck.app/development-resources/hosting-a-repository#add-it-as-a-preset" target="_blank" data-i18n-key="marketplace.add.ask.inner"></a></small>
				</div>
        <div class="mp-right">
					<label for="title" data-i18n-key="marketplace.add.input_title"></label><input type="text" id="title" placeholder="freedeck.app">
        <label for="url" data-i18n-key="marketplace.add.input_url"></label><input type="text" id="url" placeholder="https://releases.freedeck.app/index.json">
				</div>
					</div>
        <br>
        <button id="submit" data-i18n-key="marketplace.add.input_submit"></button>
    `,
		true,
	);
	universal.translatePage(dialog.content);
	dialog.modal.id = "add-repo";
	dialog.forceHide();
	const dialogC = dialog.content;
	dialogC.style.alignItems = "start";

	const loadRepo = (repo, isUnofficial = false) => {
		document.querySelector(".message").innerHTML =
			universal.translationKey("marketplace.message.fetching") + repo.title;
		const li = document.createElement("li");
		const btn = document.createElement("button");
		btn.innerText = universal.translationKey("marketplace.action.remove");
		li.setAttribute("hovereffect", "yes");
		li.style.cursor = "default";
		if (!isUnofficial) {
			li.style.background = "var(--main-bg)";
			li.style.backgroundSize = "var(--main-bg-size)";
			li.style.animation = "error-bg 5s linear infinite";
		}
		li.innerText = universal
			.translationKey("marketplace.info.repo_title")
			.replace("$1", repo.title);

		if (isUnofficial) {
			btn.onclick = () => {
				universal.repositoryManager.unofficial =
					universal.repositoryManager.unofficial.filter((r) => {
						return r != repo;
					});
				universal.save(
					"repos.community",
					JSON.stringify(universal.repositoryManager.unofficial),
				);
				loadRepos();
			};
		}
		universal.repositoryManager.getRepository(repo).then((data) => {
			if (data.err) {
				li.innerText += " " + data.msg;
				document.querySelector(".message").innerHTML = universal.translationKey("marketplace.message.err_fetching") + repo.title + ": " + data.msg;
				if (isUnofficial) li.appendChild(btn);
				return;
			}
			li.innerText += " " + universal.cleanHTML(data.title);
			if (isUnofficial) li.appendChild(btn);
			data.plugins.forEach((plugin) => {
				if (plugin.visible && plugin.visible == "false") return;
				const req = plugin;
				req.id = req.id.toLowerCase();
				const li = document.createElement("div");
				li.setAttribute("hovereffect", "yes");
				li.style.cursor = "default";
				li.className = "item";
				li.style.position ='relative'
				const name = document.createElement("div");
				if (!isUnofficial) {
					name.innerText = universal
						.translationKey("marketplace.info.official_title")
						.replace("$1", plugin.title);
				} else {
					name.innerText = universal
						.translationKey("marketplace.info.title")
						.replace("$1", plugin.title)
						.replace("$2", req.author);
				}
				name.style.fontWeight = "bold";
				li.appendChild(name);
				const version = document.createElement("div");
				version.innerText = "v" + req.version;
				li.appendChild(version);
				const desc = document.createElement("div");
				desc.innerText = req.description;
				desc.classList.add("plugin-ifo");
				li.appendChild(desc);
				const rl = document.createElement("small");
				rl.innerText = universal
					.translationKey("marketplace.info.repository")
					.replace("$1", repo.title)
					.replace("$2", data.title);
				if (universal.repositoryManager.official.find((r) => r === repo)) {
					if (!plugin.unofficial || plugin.unofficial !== "true") {
						const oftContainer = document.createElement("span");
						const imgContainer = document.createElement("div");
						imgContainer.classList.add("official-tag-img")
						const officialTag = document.createElement("img");
						const oftTitle = document.createElement("p");
						oftContainer.classList.add("official-tag")
						officialTag.src = "/app/shared/icons/official.png";
						officialTag.loading = "lazy";
						oftTitle.textContent = "by Freedeck";
						imgContainer.appendChild(officialTag);
						oftContainer.appendChild(imgContainer)
						oftContainer.appendChild(oftTitle);
						li.appendChild(oftContainer);
					}
				} else {
						li.appendChild(rl);
				}
				const file = document.createElement("button");
				const downloadPlugin = () => {
					const pb = window.universal.ui.show.progressBar(
						universal.translationKey("marketplace.download.action").replace("$1", req.title),
						universal.translationKey("marketplace.download.stage_init").replace("$1", data.title).replace("$2", repo.channel),
						0,
						false,
					);
					universal.on(universal.events.companion.download_plugin, (state) => {
						pb.setPercent(state.percent)
						if(state.data) {
							pb.setStage(universal.translationKey(state.stage).replace("$1", state.data));
						} else {
							pb.setStage(universal.translationKey(state.stage));
						}
					})
					universal.send(universal.events.companion.download_plugin, { plugin: req, repo })
					universal.uiSounds.playSound("step_2");
				}
				file.onclick = () => {
					if (req.message) {
						let str = universal.translationKey("marketplace.install");
						if (universal.plugins[req.id]) {
							let compareVersionOutput = universal.compareVersions(
								universal.plugins[req.id].version,
								req.version,
							);
							if (compareVersionOutput == -1)
								str = universal.translationKey("marketplace.update");
							if (compareVersionOutput == 1)
								str = universal.translationKey(
									"marketplace.downgrade_fallback",
								);
						}
						window.universal.ui.show.showYesNo(
							universal.translationKey("marketplace.message_warning_prefix") +
							str +
							" " +
							req.title +
							universal.translationKey(
								"marketplace.message_warning_suffix",
							),
							req.message,
							(yes) => {
								downloadPlugin();
							},
							true,
						);
					} else {
						downloadPlugin();
					}
				};
				file.innerText = universal.translationKey(
					"marketplace.action.download",
				);
				if (universal.plugins[req.id]) {
					file.innerText = universal.translationKey(
						"marketplace.action.installed",
					);
					file.style.backgroundColor = "var(--marketplace-plugin-installed)";
					if (!universal.plugins[req.id].version)
						universal.plugins[req.id].version = "1.0.0";
					else {
						let compareVersionOutput = universal.compareVersions(
							universal.plugins[req.id].version,
							req.version,
						);
						if (compareVersionOutput == -1) {
							file.innerText = universal.translationKey(
								"marketplace.action.update",
							);
							file.style.backgroundColor =
								"var(--marketplace-plugin-updatable)";
							universal.sendToast(
								universal
									.translationKey("marketplace.update_notification")
									.replace("$1", universal.plugins[req.id].name)
									.replace("$2", req.version),
								universal.translationKey("marketplace"),
							);
						} else if (compareVersionOutput == 0) {
							file.innerText = universal.translationKey(
								"marketplace.action.up_to_date",
							);
							file.style.backgroundColor =
								"var(--marketplace-plugin-no-updates)";
							file.onclick = () => { };
						} else if (compareVersionOutput == 1) {
							file.innerText = universal.translationKey(
								"marketplace.action.user_has_newer",
							);
							file.style.backgroundColor =
								"var(--marketplace-plugin-installed)";
							file.onclick = () => { };
						}
					}
				}
				li.appendChild(file);
				setTimeout(() => {
					const luf = document.querySelector(".load-upon-finish")
					const lus = document.querySelector(".loading-screen")
					if (luf) luf.style.display = 'block'
					if (lus) lus.style.display = 'none'
				}, 125);
				document.querySelector(".marketplace").appendChild(li);
			});
		}).catch(err => {
			li.innerText += " Error fetching!";
		})
		document.querySelector(".repositories").appendChild(li);

		// document.querySelector(".message").innerHTML = "";
	};

	const loadRepos = () => {
		document.querySelector(".repositories").innerHTML = `<h1 class="settings-section-title">
			<span data-i18n-key="marketplace.title"></span>
			<span><img src="/app/shared/icons/marketplace.svg" width="50" loading="lazy" height="50" /></span>
		</h1><small><i>Repositories</i></small>`;
		universal.translatePage()
		document.querySelector(".marketplace").innerHTML = "";


		const sbe = document.createElement("p");
		sbe.innerText = universal.translationKey("marketplace.search.failed");
		sbe.style.display = 'none';
		const sb = document.createElement("input");
		sb.classList.add("sb")
		sb.placeholder = universal.translationKey("marketplace.search");
		sb.oninput = (e) => {
			const is = document.querySelectorAll(".item");
			let c = 0
			for (const e of is) {
				if (!e.innerText.toLowerCase().includes(sb.value)) {
					e.style.opacity = '0.1'
					e.style.display = 'none'
					c++;
				} else {
					e.style.display = 'flex'
					e.style.opacity = '1'
				}

				if (c == is.length) {
					sbe.style.display = 'block';
				} else {
					sbe.style.display = 'none';
				}
			}
		}
		document.querySelector(".marketplace").appendChild(sb)
		document.querySelector(".marketplace").appendChild(sbe)
		universal.repositoryManager.official.forEach((repo) => {
			loadRepo(repo);
		});

		universal.repositoryManager.unofficial.forEach((repo) => {
			loadRepo(repo, true);
		});
		if (!universal.flags.isEnabled("app.freedeck.demo.disable_new_repo")) {
			const bt = document.createElement("button");
			bt.id = "repo";
			bt.onclick = () => { universal.mkp_addRepo() };
			bt.setAttribute("data-i18n-key", "marketplace.add")
			bt.innerText = universal.translationKey("marketplace.add");
			document.querySelector(".repositories").appendChild(bt)
		}
	};
	loadRepos();
	function addRepo() {
		universal.uiSounds.playSound("int_prompt");
		dialog.content.querySelector("#title").value = "";
		dialog.content.querySelector("#url").value = "";
		dialog.content.querySelector("#submit").disabled = false;
		dialog.content.querySelector("#submit").innerText = universal.translationKey("marketplace.add.add");
		dialog.content.querySelector(".add-msg").innerText = "";
		dialog.show();

		document.querySelectorAll(".repo-preset").forEach((ele) => {
			ele.onclick = () => {
				const data = JSON.parse(ele.dataset.repo);
				document.querySelector("#title").value = data.t;
				document.querySelector("#url").value = data.u;
			};
		});
		const submit = document.querySelector("#submit");
		dialog.content.querySelector("#submit").onclick = () => {
			submit.disabled = true;

			submit.innerText = universal.translationKey("marketplace.add.downloading");

			const title = dialog.content.querySelector("#title").value;
			const url = dialog.content.querySelector("#url").value;

			document.querySelector(".add-msg").innerText =
				universal.translationKey("marketplace.add.action").replace("$1", url)

			fetch(url, { method: "GET" })
				.then((res) => {
					if (res.status != 200) {
						document.querySelector(".add-msg").innerText =
							universal.translationKey("marketplace.add.failed.status").replace("$1", url)
						submit.disabled = false;
						submit.innerText = "Add";
						return;
					}
					return res.json()
				})
				.then((data) => {
					const options = [];
					for (const channelKey in data.channels) {
						const channel = data.channels[channelKey];
						if (
							channel.type != "repository" &&
							channel.type != "repository_external"
						)
							continue;
						options.push({
							added: Date.now(),
							id: channelKey,
							display: `${channel.title} (${channelKey})`,
						});
					}
					const mod = selectModal(
						{
							title: universal.translationKey("marketplace.add.channel.title"),
							message:
								universal.translationKey("marketplace.add.channel.message"),
							options,
						},
						({ value }) => {
							submit.disabled = false;
							if (
								value.id == "main" &&
								url == "https://releases.freedeck.app/index.json"
							) {
								document.querySelector(".add-msg").innerText =
									universal.translationKey("marketplace.add.failed.main");
								submit.disabled = false;
								submit.innerText = universal.translationKey("marketplace.add.add");
								return;
							}
							const curr = JSON.parse(universal.load("repos.community"));
							const chn = value.id;
							curr.push({
								added: Date.now(),
								title,
								url: url,
								channel: chn,
							});
							universal.save("repos.community", JSON.stringify(curr));
							universal.repositoryManager.unofficial = curr;
							loadRepos();
							mod.close();
							dialog.hide();
						},
						submit,
					);
				})
				.catch((err) => {
					document.querySelector(".add-msg").innerHTML = universal.translationKey("marketplace.add.failed.request").replace("$1", url).replace("$2", err);
					if (err.toString().includes("Failed to fetch"))
						document.querySelector(".add-msg").innerHTML +=
							`<br>${universal.cleanHTML(universal.translationKey("marketplace.add.failed.internet"))}`;
					submit.disabled = false;
					submit.innerText = universal.translationKey("marketplace.add.add");
				});
		};
	}

	function selectModal(opt, cb, submit) {
		const modal = window.universal.ui.show.showPick(
			opt.title,
			opt.options,
			cb,
			opt.message,
			false,
		);
		return modal;
	}

	universal.mkp_addRepo = addRepo;
	export default addRepo;
</script>