<h1 class="settings-section-title">
	Device Pairing <span><img src="/common/icons/pairing.svg" width="50" height="50" loading="lazy"></span>
</h1>
<center class="dev-status">Status: Your device is not connected yet!</center>
<br>
<center>What device are you using?</center>
<br>
<div class="flc">
	<button class="long" id="connect-button">
		<img src="/common/icons/apple.svg" width="25" height="25" loading="lazy">
		<p>iOS (iPhone, iPad, etc..)</p>
	</button>
	<button class="long" id="connect-button-android">
		<img src="/common/icons/android.svg" width="25" height="25" loading="lazy">
		Android (Samsung, Pixel, etc..)
	</button>
	<button id="later-button">Connect Later</button>
</div>

<div id="conn-content" style="display: none;">
	<h1>Connect to Freedeck on <span class="osp-selected">iOS</span></h1>
	<p>To connect to your Freedeck, all you have to do is scan the QR code. You'll instantly connect to your computer from there.</p>
	<div id="qr-container"></div>
	<details id="or-mfa">
		<summary>Or, connect using my.freedeck.app</summary>
		<ul>
			<li>Open <strong class="osp-browser">Safari</strong> and go to <i><strong class="osp-host"></strong></i></li>
			<li>Type in code <i><span class="mfa-code">Please accept to use this service...</span></i> and press Connect.</li>
			<li>When you see your Freedeck, <span class="osp-add-to-home-screen">press Share at the bottom</span>.</li>
			<li>Press <i>Add To Home Screen</i></li>
		</ul>
	</details>
	<details>
		<summary>Or, manually connect using your local IP</summary>
		<ul>
			<li>Follow every instruction, but instead of going to <span class="local-ip"></span>, go to http://<span
					class="local-net"></span>:5754 on your device.</li>
			<li>You won't need to press Connect, as this is directly taking you to your Freedeck.</li>
		</ul>
	</details>
	<p>This will automatically close when your device is connected.</p>
	<div class="flex-wrap-r">
		<button id="back">Back</button>
		<button onclick="document.querySelector('#later-button').click()">Connect Later</button>
	</div>
</div>
<script>
	(async () => {
		let qrCode;
    // Dynamically load the QRCode library
    if (typeof QRCode === "undefined") {
        const script = document.createElement("script");
        script.src = "https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js";
        script.onload = () => {
            initializeQRCode();
        };
        document.head.appendChild(script);
    } else {
        initializeQRCode();
    }

    function initializeQRCode() {
      qrCode = new QRCode(document.getElementById("qr-container"), {
            text: "https://freedeck.app/error.html",
            width: 128,
            height: 128,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
        });
    }
		window.editQrCode= (txt)=>{
			qrCode.clear(); // clear the code.
			qrCode.makeCode(txt); // make another code.
		}
})();
	const selection = document.querySelector(".flc");
	const laterButton = document.querySelector('#later-button');
	const localNet = document.querySelectorAll('.local-net');
	const back = document.querySelector('#back');

	back.onclick = () => {
		document.querySelector('#conn-content').style.display = 'none';
		selection.style.display = 'flex';
	}

	const placeholderOs = document.querySelector('.osp-selected');
	const placeholderBrowser = document.querySelector('.osp-browser');
	const orMfa = document.querySelector("#or-mfa")
	const placeholderAddToHomeScreen = document.querySelector('.osp-add-to-home-screen');

	orMfa.onclick = () => {
		if(m) return;
		m =	window.UniversalUI.show.showYesNo("By pressing Accept, you are willing to share:",  "- your local IP (" + ip + ")<br>- your PC's hostname (" + universal._information.hostname + ")<br><br>with Freedeck.app servers.<br><br><a target='_blank' href='https://freedeck.app/data'>Read the Freedeck data policy to learn more.</a><br><br><span class='mayclose'>You may close this popup in <span class='realtimetc'>5</span> seconds</span>", (yes) => {
			fetch('/api/discover/code-request').then((res) => res.json()).then((res) => {
				document.querySelectorAll('.mfa-code').forEach(e => e.innerText = res.code);
			})
		}, false);
		let count = 5;

		const tclock = setInterval(() => {
			count--;
			if(m) {clearInterval(tclock);return;}
			m.modal.querySelector(".realtimetc").innerText = count;
			if(count == 0) m.modal.querySelector(".mayclose").style.display = "none";
		}, 1000);
		
		const ci = setTimeout(() => {
			if(m) {clearInterval(ci);return;}
			m.modal.querySelector(".modal-close").onclick = () => {
				laterButton.click();
				m.modal.remove();
				universal.vopen("index.html");
				universal.vclose();
			}
			m.modal.querySelector(".modal-close").style.display = "block";
		}, 5000);
	}

	const connectButton = document.querySelector('#connect-button');
	const connectButtonAndroid = document.querySelector('#connect-button-android');
	const connContent = document.querySelector('#conn-content');
	connectButtonAndroid.onclick = () => {
		placeholderOs.innerText = 'Android';
		placeholderBrowser.innerText = 'your web browser (Example: Chrome)';
		placeholderAddToHomeScreen.innerText = 'click the three dots in the top right';
		document.querySelector('#conn-content').style.display = 'block';
		selection.style.display = 'none';
	}
	connectButton.onclick = () => {
		placeholderOs.innerText = 'iOS';
		placeholderBrowser.innerText = 'Safari';
		placeholderAddToHomeScreen.innerText = 'press the share button at the bottom (or top right)';
		document.querySelector('#conn-content').style.display = 'block';
		selection.style.display = 'none';
	}
	universal.uiSounds.playSound('step_1')

	laterButton.onclick = () => {
		universal.uiSounds.playSound('step_1')
		universal.sendEvent("finish_conn");
		document.querySelector("#sidebar").style.right = "-20%";
		universal.save("has_setup", true);
		universal.reloadRight();
		universal.vclose();
		universal.vopen("index");
		document.querySelector("#sidebar").style.right = "0";
	}
	let code = 'Loading...';
	let ip;
	let m;

	fetch('/api/discover').then(res => res.json()).then(data => {
		document.querySelectorAll(".osp-host").forEach(e => e.innerText = data.myApp.host);
		localNet.forEach(e => e.innerText = data.ip[Object.keys(data.ip)[0]][0]);
		if (Object.keys(data.ip).length == 0) {
			document.querySelectorAll('.mfa-code').forEach(e => e.innerText = "You are offline, please try again later.");
			return;
		}
		ip = data.ip[Object.keys(data.ip)[0]][0];
		editQrCode("http://" + ip +":5754/")
	});

	const poll = setInterval(() => {
		fetch('/api/discover').then(res => res.json()).then(data => {
			const status = data.deviceStatus ? "Your device is connected to Freedeck!" : "Your device is not connected to Freedeck!";
			const devStatus = document.querySelectorAll('.dev-status');
			devStatus.forEach(e => e.innerText = `Status: ${status}`);
			if (data.deviceStatus) {
				devStatus.forEach(e => e.style.color = 'green');
				document.querySelector('#later-button').innerText = 'Close';
				clearInterval(poll);
				universal.uiSounds.playSound('step_3');
				document.querySelector('#later-button').click();
			} else {
				devStatus.forEach(e => e.style.color = 'red');
			}
			if(data.myApp?.code) {
				document.querySelectorAll('.mfa-code').forEach(e => e.innerText = data.myApp.code);
				if(data.myApp.code !== "Loading...") m = true;
			}
			if(data.myApp?.host) {
				document.querySelectorAll(".osp-host").forEach(e => e.innerText = data.myApp.host);
			}
		});
	}, 500);
</script>

<style>
	.mfa-code {
		font-weight: bold;
		font-size: 1.5rem;
	}

	.flc {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}

	.flc button {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
	}

	.flc button.long {
		width: 75%;
	}

	.form {
		display: flex;
		flex-direction: column;
	}

	.form button {
		margin-top: 1rem;
	}

	button:active {
		transform: scale(0.95);
		filter: brightness(0.9);
	}

	button:hover {
		transform: scale(1.05);
		filter: brightness(1.1);
	}

	#qr-container img {
		border-radius: .5rem;
		padding: 1rem;
		background: white;
	}
</style>