<link rel="stylesheet" href="/companion/views/styles/settings.css" />
<h1 class="settings-section-title">
	<span data-i18n-key="settings.sections.plugins.settings"></span>
	<span><img src="/app/shared/icons/t_plugin.svg" width="50" height="50" loading="lazy" /></span>
</h1>
<div id="settings-menu-full"></div>
<!-- <h2>This is the bottom of the Settings menu.</h2> -->
<script type="module">
	const seen = {};
	const smf = document.querySelector("#settings-menu-full")
	Object.keys(universal.plugins).forEach((plugin) => {
		const req = universal.plugins[plugin];
		const li = document.createElement("details");
		li.classList.add("plugin-settings-list")
		li.setAttribute("hovereffect", "yes");
		li.style.cursor = "default";
		if (seen[req.name]) return;
		seen[req.name] = true;


		if (!req.Settings || Object.keys(req.Settings).length == 0) return;

		const spn = document.createElement("span");
		spn.innerText = req.name;
		const imgEle = document.createElement("img");
		imgEle.width = '50';
		imgEle.height = '50';
		imgEle.loading = 'lazy'
		if (!universal.plugins[plugin].icon) {
			(async () => {
				let ex = false;
				await fetch("/user-data/hooks/" + req.id + "-icon.png").then((r) => {
					if (r.status == 200) ex = true;
				})
				if (ex) {
					imgEle.src = "/user-data/hooks/" + req.id + "-icon.png";
				}
			})();
			if (req.packageType == "theme") {
				imgEle.src = "/app/shared/icons/theme-icon.png";
			}
			universal.plugins[plugin].icon = imgEle.src;
		} else {
			imgEle.src = req.icon;
		}
		const infoEle = document.createElement("summary");
		infoEle.appendChild(spn);
		infoEle.appendChild(imgEle);
		infoEle.classList.add("settings-section-title");
		li.appendChild(infoEle)

		for (const key in req.Settings) {
			const setting = req.Settings[key];
			const div = document.createElement("div");
			div.classList.add("plugin-setting")
			// div.innerHTML = `${setting.name}: ${setting.description}\n${setting.value}`
			const name = document.createElement("label");
			name.textContent = setting.name;
			const desc = document.createElement("small");
			desc.classList.add("i")
			desc.textContent = setting.description;
			let valueGetter;
			if (setting.allowed && setting.allowed.length > 0) {
				const sel = document.createElement('select');
				for (const i of setting.allowed) {
					const opt = document.createElement('option');
					opt.textContent = i;
					opt.value = i;
					if(opt.value == setting.value) {
						opt.selected = true;
					}
					sel.appendChild(opt);
				}
				valueGetter = { value: () => sel.selectedOptions[sel.selectedIndex].value, ele: sel }
			} else if (typeof setting.value === "object" && Array.isArray(setting.value)) {
				const holder = document.createElement("div");
				holder.classList.add("option-holder")
				const actualOptions = document.createElement("div");
				actualOptions.classList.add("array-holder")
				for (const i of setting.value) {
					const liH = document.createElement("span");
					liH.classList.add("item-holder");
					const sLi = document.createElement("input");
					sLi.value = i;
					sLi.placeholder = setting.default;
					const rem = document.createElement("button");
					rem.textContent = "-"
					rem.classList.add("reset-button")
					rem.onclick = () => { liH.remove(); }
					liH.appendChild(sLi);
					liH.appendChild(rem)
					actualOptions.appendChild(liH);
				}
				const button = document.createElement("button");
				button.classList.add("reset-button")
				button.textContent = "+";
				button.onclick = () => {
					const liH = document.createElement("span");
					liH.classList.add("item-holder");
					const sLi = document.createElement("input");
					sLi.placeholder = setting.default;
					const rem = document.createElement("button");
					rem.textContent = "-"
					rem.classList.add("reset-button")
					rem.onclick = () => { liH.remove(); }
					liH.appendChild(sLi);
					liH.appendChild(rem)
					actualOptions.appendChild(liH);
				}
				holder.appendChild(actualOptions)
				holder.appendChild(button);
				valueGetter = {
					value: () => {
						const ret = [];
						for (const i of holder.childNodes) {
							ret.push(i.value)
						}
						return ret;
					}, ele: holder
				}
			} else {
				const inp = document.createElement("input");
				inp.placeholder = setting.default;
				inp.value = setting.value;
				valueGetter = { value: () => inp.value, ele: inp };
			}
			const btn = document.createElement("button");
			btn.classList.add('reset-button');
			btn.textContent = 'Set';
			btn.onclick = () => {
				universal.send(universal.events.companion.fdsp_set, {
					plugin,
					setting,
					userValue: valueGetter.value()
				})
			}
			div.appendChild(name);
			div.appendChild(desc);
			div.appendChild(valueGetter.ele);
			div.appendChild(btn);
			li.appendChild(div)
		}

		smf.appendChild(li);
	});
</script>