<h1 class="settings-section-title">
	<span data-i18n-key="settings.sections.language"></span>
	<span><img src="/app/shared/icons/language.svg" width="50" height="50" loading="lazy" /></span>
</h1>

<div class="items">
	<div class="item">

		<p data-i18n-key="setup.language.message"></p>

		<div id="language-list"></div>
	</div>

	<div class="item" id="dev-menu">
		<button id="bypass" data-i18n-key="setup.language.bypass"></button>
		<p data-i18n-key="setup.language.bypass.message"></p>

	</div>

	<button id="next" data-i18n-key="setup.next"></button>
</div>
<style>
	#next {
	position:relative;
	left:50%;
	transform:translateX(-50%);
}
	.theme {
		border: var(--generic-border);
		border-radius: var(--main-radius);
		padding: 0.5rem;
	}

	#language-list {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		align-items: center;
	}
</style>
<script>
	universal.reloadRight();
	document.querySelector("#next").onclick = (e) => {
		window.splashScreen.unsplash();
		universal.ctx.destructiveView("setup_01_welcome");
	}

	document.querySelector("#bypass").onclick = (e) => {
		universal.save("has_setup", "true");
		universal.vopen("index.html");
		universal.reloadRight();
		document.querySelector("#keys").style.display = 'grid';
	}

	let last = '';

	function a(ev) {
		if (last == 'f' && ev.key == 'd') {
			document.querySelector("#dev-menu").style.display = document.querySelector("#dev-menu").style.display == "none" ? "flex" : "none";
		}
		last = ev.key;
	}

	window.addEventListener('keydown', a);

	import {
		locales,
		localeDescriptions,
		setLocale,
		translationKey,
	} from "/app/shared/localization.js";
	Object.keys(locales).forEach((locale) => {
		const container = document.createElement("div");
		container.classList.add("theme");
		if (universal.load("locale") == locale) {
			container.style.background = "var(--selected-item-bg)";
			container.style.backgroundSize = "var(--selected-item-bg-size)";
			container.style.animation = "var(--selected-item-bg-anim)";
		}
		const title = document.createElement("h2");
		title.innerText = locales[locale];
		const desc = document.createElement("p");
		desc.innerText = localeDescriptions[locale];
		const applicator = document.createElement("button");
		container.appendChild(title);
		container.appendChild(desc);
		container.onclick = () => {
			setLocale(locale);
			window.location.reload();
		};
		document.querySelector("#language-list").appendChild(container);
	});

</script>

<style>
	.lang-btn {
		min-height: calc(var(--button-height) / 2) !important;
		/* height: calc(var(--button-height) / 2) !important; */
	}

	#ctxl-view-cont {
		background: rgba(0, 0, 0, 0.825);
	}

	#dev-menu {
		display: none;
	}

	#keys {
		display: none;
	}

	.items {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	#setup_00_language {
		width: 100% !important;
		margin: 0 !important;
		display: inline-flex;
		flex-direction: row;
		justify-content: center;
	}

	#setup_00_language body {
		width: 80% !important;
		padding-left: 0 !important;
	}

	.item {
		background-color: rgba(0, 0, 0, 0.25);
		padding: 5px;
		border-radius: var(--main-radius);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		height: max-content;
	}
</style>