<h1 class="settings-section-title">
	Device Pairing
	<span><img src="/app/shared/icons/pairing.svg" width="50" height="50" loading="lazy" /></span>
</h1>
<div class="items">

	<div class="item">
		<div id="qr-container"></div>
	</div>

	<div class="item">
		<center class="dev-status">Status: Checking...</center>
		<p>Scan the QR code, or browse to <code>http://<span class="local-net"></span>:5754</code> in <strong
				class="osp-browser">Safari</strong>.</p>
		<p>
			When you see Freedeck, <span class="osp-add-to-home-screen">press Share at the bottom</span>, then Add To Home
			Screen.
		</p>
		<p>This will automatically close when your device is connected.</p>
		<div class="flex-wrap-r">
			<button id="later-button">Connect Later</button>
		</div>

		<center>Not on <span class="osp-selected">iOS</span>?</center>
		<div class="flex-wrap-r">
			<button class="long" id="connect-button" style="display:none;">
				<img src="/app/shared/icons/apple.svg" width="25" height="25" loading="lazy" />
				<p>View for iOS</p>
			</button>
			<button class="long" id="connect-button-android">
				<img src="/app/shared/icons/android.svg" width="25" height="25" loading="lazy" />
				<p>View for Android</p>
			</button>
		</div>
	</div>


	<div class="item">
		<details id="or-mfa">
			<summary>Or, connect using my.freedeck.app</summary>
			<ul>
				<li>
					Open <strong class="osp-browser">Safari</strong> and go to
					<i><strong class="osp-host"></strong></i>
				</li>
				<li>
					Type in code
					<i><span class="mfa-code">Please accept to use this service...</span></i>
					and press Connect.
				</li>
			</ul>
		</details>

	</div>
</div>

<script>
	document.querySelector("#sidebar").style.right = "-100%";
	document.querySelector("#sidebar").style.display = 'flex';
	(async () => {
		let qrCode;
		// Dynamically load the QRCode library
		if (typeof QRCode === "undefined") {
			const script = document.createElement("script");
			script.src =
				"https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js";
			script.onload = () => {
				initializeQRCode();
			};
			document.head.appendChild(script);
		} else {
			initializeQRCode();
		}

		function initializeQRCode() {
			qrCode = new QRCode(document.getElementById("qr-container"), {
				text: "https://freedeck.app/error.html",
				width: 128,
				height: 128,
				colorDark: "#000000",
				colorLight: "#ffffff",
				correctLevel: QRCode.CorrectLevel.H,
			});
		}
		window.editQrCode = (txt) => {
			qrCode.clear(); // clear the code.
			qrCode.makeCode(txt); // make another code.
		};
	})();
	const laterButton = document.querySelector("#later-button");
	const localNet = document.querySelectorAll(".local-net");


	const placeholderOs = document.querySelector(".osp-selected");
	const placeholderBrowser = document.querySelector(".osp-browser");
	const orMfa = document.querySelector("#or-mfa");
	const placeholderAddToHomeScreen = document.querySelector(
		".osp-add-to-home-screen",
	);

	orMfa.onclick = () => {
		if (m) return;
		m = window.UniversalUI.show.showYesNo(
			"By pressing Accept, you are willing to share:",
			"- your local IP (" +
			ip +
			")<br>- your PC's hostname (" +
			universal._information.hostname +
			")<br><br>with Freedeck.app servers.<br><br><a target='_blank' href='https://freedeck.app/data'>Read the Freedeck data policy to learn more.</a><br><br><span class='mayclose'>You may close this popup in <span class='realtimetc'>5</span> seconds</span>",
			(yes) => {
				fetch("/api/discover/code-request")
					.then((res) => res.json())
					.then((res) => {
						document
							.querySelectorAll(".mfa-code")
							.forEach((e) => (e.innerText = res.code));
					});
			},
			false,
		);
		let count = 5;

		const tclock = setInterval(() => {
			count--;
			if (m) {
				clearInterval(tclock);
				return;
			}
			m.modal.querySelector(".realtimetc").innerText = count;
			if (count == 0) m.modal.querySelector(".mayclose").style.display = "none";
		}, 1000);

		const ci = setTimeout(() => {
			if (m) {
				clearInterval(ci);
				return;
			}
			m.modal.querySelector(".modal-close").onclick = () => {
				m.modal.remove();
				laterButton.click();
			};
			m.modal.querySelector(".modal-close").style.display = "block";
		}, 5000);
	};

	const connectButton = document.querySelector("#connect-button");
	const connectButtonAndroid = document.querySelector(
		"#connect-button-android",
	);
	let selectedOS = "iOS";
	connectButtonAndroid.onclick = () => {
		selectedOS = "Android"
		placeholderOs.innerText = selectedOS;
		placeholderBrowser.innerText = "your web browser (Example: Chrome)";
		placeholderAddToHomeScreen.innerText =
			"click the three dots in the top right";
			connectButton.style.display='flex';
			connectButtonAndroid.style.display='none';
	};
	connectButton.onclick = () => {
		selectedOS = "iOS"
		placeholderOs.innerText = selectedOS;
		placeholderBrowser.innerText = "Safari";
		placeholderAddToHomeScreen.innerText =
			"press the share button at the bottom (or top right)";
connectButton.style.display='none';
			connectButtonAndroid.style.display='flex';
	};
	universal.uiSounds.playSound("step_1");

	laterButton.onclick = () => {
		universal.uiSounds.playSound("step_1");
		universal.sendEvent("finish_conn");
		document.querySelector("#sidebar").style.right = "-100%";
		document.documentElement.style.setProperty("--v-display", "grid")
		document.querySelector("#sidebar").style.display = 'flex';
		universal.save("has_setup", true);
		universal.reloadRight();
		universal.vclose();
		universal.vopen("index");
		setTimeout(() => { document.querySelector("#sidebar").style.right = "0"; }, 250)
	}
	let code = "Loading...";
	let ip;
	let m;

	fetch("/api/discover")
		.then((res) => res.json())
		.then((data) => {
			document
				.querySelectorAll(".osp-host")
				.forEach((e) => (e.innerText = data.myApp.host));
			localNet.forEach(
				(e) => (e.innerText = data.ip[Object.keys(data.ip)[0]][0]),
			);
			if (Object.keys(data.ip).length == 0) {
				document
					.querySelectorAll(".mfa-code")
					.forEach(
						(e) => (e.innerText = "You are offline, please try again later."),
					);
				return;
			}
			ip = data.ip[Object.keys(data.ip)[0]][0];
			editQrCode("http://" + ip + ":5754/");
		});

	const poll = setInterval(() => {
		fetch("/api/discover")
			.then((res) => res.json())
			.then((data) => {
				const status = data.deviceStatus
					? "Your " + selectedOS + " device is connected!"
					: "Your " + selectedOS + " device is not connected yet!";
				const devStatus = document.querySelectorAll(".dev-status");
				devStatus.forEach((e) => (e.innerText = `Status: ${status}`));
				if (data.deviceStatus) {
					devStatus.forEach((e) => (e.style.color = "green"));
					document.querySelector("#later-button").innerText = "Close";
					clearInterval(poll);
					universal.uiSounds.playSound("step_3");
					document.querySelector("#later-button").click();
				} else {
					devStatus.forEach((e) => (e.style.color = "red"));
				}
				if (data.myApp?.code) {
					document
						.querySelectorAll(".mfa-code")
						.forEach((e) => (e.innerText = data.myApp.code));
					if (data.myApp.code !== "Loading...") m = true;
				}
				if (data.myApp?.host) {
					document
						.querySelectorAll(".osp-host")
						.forEach((e) => (e.innerText = data.myApp.host));
				}
			});
	}, 500);
</script>

<style>
	.item {
		background-color: rgba(0, 0, 0, 0.25);
		padding: 5px;
		border-radius: var(--main-radius);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		height: max-content;
	}

	.items {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.mfa-code {
		font-weight: bold;
		font-size: 1.5rem;
	}

	.flc {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}

	.flc button {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
	}

	.flc button.long {
		width: 50%;
	}

	.form {
		display: flex;
		flex-direction: column;
	}

	.form button {
		margin-top: 1rem;
	}

	button:active {
		transform: scale(0.95);
		filter: brightness(0.9);
	}

	button:hover {
		transform: scale(1.05);
		filter: brightness(1.1);
	}

	#qr-container img {
		border-radius: 0.5rem;
		padding: 1rem;
		background: white;
	}

	#setup_04_device {
		width: 100% !important;
		margin: 0 !important;
		display: inline-flex;
		flex-direction: row;
		justify-content: center;
	}

	#setup_04_device body {
		width: 80% !important; 
		padding-left: 0 !important;
	}

	:root {
		--v-display: none;
	}

	#keys {
		display: var(--v-display);
	}

	.items {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
</style>