<h1 class="settings-section-title">
	<span data-i18n-key="setup.device.title"></span>
	<span><img src="/app/shared/icons/pairing.svg" width="50" height="50" loading="lazy" /></span>
</h1>
<div class="items">

	<div class="item">
		<div id="qr-container"></div>
	</div>

	<div class="item">
		<center class="dev-status"></center>

		<p id="scan-or-go"></p>
		<p id="add-to-hs"></p>
		<p data-i18n-key="setup.device.autoclose"></p>
		<div class="flex-wrap-r">
			<button id="later-button" data-i18n-key="setup.device.connect_later"></button>
		</div>

		<center id="swapper"></center>
		<div class="flex-wrap-r">
			<button class="long" id="connect-button" style="display:none;">
				<img src="/app/shared/icons/apple.svg" width="25" height="25" loading="lazy" />
				<p data-i18n-key="setup.device.view_for_ios"></p>
			</button>
			<button class="long" id="connect-button-android">
				<img src="/app/shared/icons/android.svg" width="25" height="25" loading="lazy" />
				<p data-i18n-key="setup.device.view_for_android"></p>
			</button>
		</div>
	</div>


	<div class="item">
		<details id="or-mfa">
			<summary data-i18n-key="setup.device.mfa.entice"></summary>
			<a target='_blank' href='https://freedeck.app/data' data-i18n-key="setup.device.mfa.data"></a>
			<ul>
				<li id="mfa-go-to"></li>
				<li id="mfa-code"></li>
			</ul>
		</details>

	</div>
</div>

<script>
	document.querySelector("#sidebar").style.right = "-100%";
	document.querySelector("#sidebar").style.display = 'flex';
	(async () => {
		let qrCode;
		// Dynamically load the QRCode library
		if (typeof QRCode === "undefined") {
			const script = document.createElement("script");
			script.src =
				"https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js";
			script.onload = () => {
				initializeQRCode();
			};
			document.head.appendChild(script);
		} else {
			initializeQRCode();
		}

		function initializeQRCode() {
			qrCode = new QRCode(document.getElementById("qr-container"), {
				text: "https://freedeck.app/error.html",
				width: 128,
				height: 128,
				colorDark: "#000000",
				colorLight: "#ffffff",
				correctLevel: QRCode.CorrectLevel.H,
			});
		}
		let lastTxt = "";
		window.editQrCode = (txt) => {
			if(lastTxt != txt) {
				universal.sendEvent("setup.device.swap", "ios", true)
				lastTxt = txt;
			}
			qrCode.clear(); // clear the code.
			qrCode.makeCode(txt); // make another code.
		};
	})();
	const laterButton = document.querySelector("#later-button");

	const orMfa = document.querySelector("#or-mfa");

	let seenWarning = false;
	orMfa.onclick = () => {
		if (seenWarning) return;
		fetch("/api/discover/code-request")
			.then((res) => res.json())
			.then((res) => {
				mfaCode.innerText = universal.translationKey("setup.device.mfa.type_code").replace("$1", res.code)
			});
		universal.sendToast(universal.cleanHTML(universal.translationKey("setup.device.mfa.collected")).replace("$1", ip).replace("$2", universal._information.hostname), universal.cleanHTML(universal.translationKey("setup.device.mfa.title")))
		seenWarning = true;
	};

	const connectButton = document.querySelector("#connect-button");
	const connectButtonAndroid = document.querySelector(
		"#connect-button-android",
	);
	let selectedOS = "iOS";
	connectButtonAndroid.onclick = () => {
		universal.sendEvent("setup.device.swap", "android")
	};
	connectButton.onclick = () => {
		universal.sendEvent("setup.device.swap", "ios")
	};

	const scanOrGo = document.querySelector("#scan-or-go");
	const atHS = document.querySelector("#add-to-hs");
	const swapper = document.querySelector("#swapper");
	const mfaGoTo = document.querySelector("#mfa-go-to")
	const mfaCode = document.querySelector("#mfa-code")
	let browser;
	let ip;
	let connectedDevice = false;
	let mfaHost;

	universal.listenFor("setup.device.swap", (e, silent) => {
		browser = universal.translationKey("setup.device." + e + ".browser");
		selectedOS = universal.translationKey("setup.device." + e)
		if (!silent) universal.uiSounds.playSound("select_option");

		if (e == 'ios') {
			connectButton.style.display = 'none';
			connectButtonAndroid.style.display = 'flex';
		} else {
			connectButton.style.display = 'flex';
			connectButtonAndroid.style.display = 'none';
		}

		scanOrGo.innerText = universal.translationKey("setup.device.scan_or_browse").replace("$1", ip).replace("$2", browser)
		atHS.innerText = universal.translationKey("setup.device." + e + ".add_to_home_screen")
		swapper.innerText = universal.translationKey("setup.device.swap").replace("$1", selectedOS)
	})

	laterButton.onclick = () => {
		if (connectedDevice) universal.uiSounds.playSound("mobile_connect");
		else universal.uiSounds.playSound("select_option_false")
		universal.sendEvent("finish_conn");
		document.querySelector("#sidebar").style.right = "-100%";
		document.documentElement.style.setProperty("--v-display", "grid")
		document.querySelector("#sidebar").style.display = 'flex';
		universal.save("has_setup", true);
		universal.reloadRight();
		universal.vclose();
		universal.vopen("index");
		setTimeout(() => { document.querySelector("#sidebar").style.right = "0"; }, 250)
	}

	const poll = setInterval(() => {
		fetch("/api/discover")
			.then((res) => res.json())
			.then((data) => {
				mfaHost = data.myApp.host;
				ip = data.ip[Object.keys(data.ip)[0]][0];
				editQrCode("http://" + ip + ":5754/");
				const status = data.deviceStatus
					? universal.translationKey("setup.device.connection.true").replace("$1", selectedOS)
					: universal.translationKey("setup.device.connection.false").replace("$1", selectedOS)
				const devStatus = document.querySelectorAll(".dev-status");
				const prefix = universal.translationKey("setup.device.connection.prefix");
				devStatus.forEach((e) => (e.innerText = `${prefix}${status}`));
				if (Object.keys(data.ip).length == 0) {
					mfaCode.innerText = universal.translationKey("setup.device.offline");
					return;
				}
				if (data.deviceStatus) {
					devStatus.forEach((e) => (e.style.color = "green"));
					clearInterval(poll);
					connectedDevice = true;
					document.querySelector("#later-button").click();
				} else {
					devStatus.forEach((e) => (e.style.color = "red"));
				}
				if (data.myApp?.code) {
					mfaCode.innerText = universal.translationKey("setup.device.mfa.type_code").replace("$1", data.myApp.code)
				}
				if (data.myApp?.host) {
					mfaGoTo.innerText = universal.translationKey("setup.device.mfa.go_to").replace("$1", browser).replace("$2", mfaHost)
				}
			});
	}, 500);
</script>

<style>
	.item {
		background-color: rgba(0, 0, 0, 0.25);
		padding: 5px;
		border-radius: var(--main-radius);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		height: max-content;
	}

	.items {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.mfa-code {
		font-weight: bold;
		font-size: 1.5rem;
	}

	.flc {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}

	.flc button {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
	}

	.flc button.long {
		width: 50%;
	}

	.form {
		display: flex;
		flex-direction: column;
	}

	.form button {
		margin-top: 1rem;
	}

	button:active {
		transform: scale(0.95);
		filter: brightness(0.9);
	}

	button:hover {
		transform: scale(1.05);
		filter: brightness(1.1);
	}

	#qr-container img {
		border-radius: 0.5rem;
		padding: 1rem;
		background: white;
	}

	#setup_04_device {
		width: 100% !important;
		margin: 0 !important;
		display: inline-flex;
		flex-direction: row;
		justify-content: center;
	}

	#setup_04_device body {
		width: 80% !important;
		padding-left: 0 !important;
	}

	:root {
		--v-display: none;
	}

	#keys {
		display: var(--v-display);
	}

	.items {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
</style>