<h1 class="settings-section-title">
	<span data-i18n-key="setup.tile.title"></span>
	<span><img src="/app/shared/icons/themes.svg" width="50" height="50" loading="lazy" /></span>
</h1>

<div class="items">
	<button class="button">Example</button>
	<div class="item">
		<p data-i18n-key="setup.tile.description"></p>
		<div id="sliders"></div>
		<button id="ok" data-i18n-key="setup.next"></button>
	</div>
</div>

<script>
	const sl = document.querySelector("#sliders")
	
	universal.reloadRight();
	document.querySelector("#ok").onclick = (e) => {
		document.querySelector("#sidebar").style.right = "-100%";
		// document.querySelector("#ctxl-view-cont").style.background = "rgba(0,0,0,0.825)"
		document.querySelector("#setup_02_tile").style.width = "100%"
		document.querySelector("#setup_02_tile body").style.width = "80%"
		setTimeout(() => {
			universal.reloadRight();
			universal.ctx.destructiveView("setup_03_soundboard");
		}, 250)
	}

	document.querySelector("#sidebar").style.right = "-100%";
	document.querySelector("#sidebar").style.display = 'flex';
	universal.save("has_setup", true);
	universal.reloadRight();
	universal.save("has_setup", false);
	setTimeout(() => {
		document.querySelector("#sidebar").style.right = "0";
		document.querySelector("#ctxl-view-cont").style.background = "var(--modal-bg)"
	}, 250)

</script>

<style>
	li a {
		pointer-events: hover !important;
	}

	li a:hover {
		cursor: not-allowed !important;
	}

	#ctxl-view-cont {
		background: rgba(0, 0, 0, 0.825);
	}

	#keys {
		display: none;
	}

	.items {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	#setup_02_tile {
		/* width: 100% !important; */
		/* margin: 0 !important; */
		display: inline-flex;
		flex-direction: row;
		transition-duration: .25s;
		justify-content: center;
	}

	#setup_02_tile body {
		/* width: 80% !important; */
		/* padding-left: 0 !important; */
	}

	.item {
		background-color: rgba(0, 0, 0, 0.25);
		padding: 5px;
		border-radius: var(--main-radius);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		height: max-content;
	}
</style>