.disabledable {
	display: flex;
}

.load-upon-finish {
	display: none;
}

.mp-left,
.mp-right {
	width: 45%;
}

.mp-center {
	justify-content: space-between;
}

.loading-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5rem;
	margin: 0;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.official-tag {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	gap: 0.25rem;
	justify-content: center;
}
.official-tag img {
	height: 2rem;
}
.official-tag-img {
	height: 100%;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
}

/* Credit to https://cssloaders.github.io/ */
.loader {
	font-size: 10px;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: relative;
	text-indent: -9999em;
	animation: mulShdSpin 1.1s infinite ease;
	transform: translateZ(0);
}

@keyframes mulShdSpin {
	0%,
	100% {
		box-shadow:
			0em -2.6em 0em 0em #ffffff,
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
	}

	12.5% {
		box-shadow:
			0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
			1.8em -1.8em 0 0em #ffffff,
			2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
	}

	25% {
		box-shadow:
			0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7),
			2.5em 0em 0 0em #ffffff,
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}

	37.5% {
		box-shadow:
			0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.7),
			1.75em 1.75em 0 0em #ffffff,
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}

	50% {
		box-shadow:
			0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7),
			0em 2.5em 0 0em #ffffff,
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}

	62.5% {
		box-shadow:
			0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.7),
			-1.8em 1.8em 0 0em #ffffff,
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}

	75% {
		box-shadow:
			0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7),
			-2.6em 0em 0 0em #ffffff,
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}

	87.5% {
		box-shadow:
			0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.7),
			-1.8em -1.8em 0 0em #ffffff;
	}
}

.repositories {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	flex-direction: column;
	padding: 0;
}

.repositories button {
	background: rgba(255, 255, 255, 0.2) !important;
	margin: inherit;
}

.repositories li button {
	min-width: max-content;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 2rem;
	min-height: 2rem;
}

.repositories li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	margin: 0.5rem 0;
	gap: 1rem;
	width: 16rem;
	font-size: medium;
	text-overflow: ellipsis;

	color: var(--modal-item-text);
	border-radius: var(--main-radius);
	background: var(--modal-item-bg);
	border: var(--generic-border);
	background-size: var(--modal-item-bg-size);
	animation: var(--modal-item-bg-anim);
}

.plugin-ifo {
	background: rgba(0, 0, 0, 0.25);
	padding: 0.5rem;
	border-radius: var(--main-radius);
}

.sb {
	width: 90%;
	height: min-content;
}

.item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	padding: 1rem;
	color: var(--modal-item-text);
	border: var(--generic-border);
	border-radius: var(--main-radius);
	margin: 0.5rem 0;
	gap: 1rem;
	width: 175px;
	text-overflow: ellipsis;

	background: var(--modal-item-bg);
	background-size: var(--modal-item-bg-size);
	animation: var(--modal-item-bg-anim);

	transition-duration: 0.125s;
}

.item button {
	width: 100%;
}

#marketplace {
	overflow: hidden;
}

.marketplace {
	overflow-y: scroll;
	height: 100vh;
}

.item img {
	margin-bottom: -10%;
}

.main-content {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

.marketplace {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	justify-content: center;
	width: 92%;
}

.special-lineheight {
	gap: 0;
}

.special-lineheight h1 {
	height: 0.5em;
}
