.themelist {
	background: none;
	margin: 0;
	padding: 0;
}

.theme {
	border: var(--generic-border);
	border-radius: var(--main-radius);
	padding: 0.5rem;
}

.disabledable,
#disbl-list {
	display: flex;
	gap: 0.5rem;
}

.btns {
	display: flex;
	gap: 0.5rem;
	width: 100%;
	flex-wrap: wrap;
}

.plugin-information {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#language-list {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
}

center ul {
	list-style-type: none;
	padding: 0;
	border-radius: var(--main-radius);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.version {
	font-weight: 500;
}

.btnlist {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5rem;
	padding: 0;
}

.btnlist li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	color: var(--modal-item-text);
	border: var(--generic-border);
	border-radius: var(--main-radius);
	margin: 0.5rem 0;
	gap: 0.25rem;
	min-width: 2rem;
	text-overflow: ellipsis;

	background: var(--modal-item-bg);
	background-size: var(--modal-item-bg-size);
	animation: var(--modal-item-bg-anim);
}

.audio-device-picker {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 0.25rem;
	/* background-color: rgba(0, 0, 0, 0.25); */
	padding: 5px;
	border-radius: var(--main-radius);
}

.audio-device {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 0.25rem;
	border-radius: var(--main-radius);
	padding: 0.5rem;
	background: var(--modal-item-bg);
	background-size: var(--modal-item-bg-size);
	animation: var(--modal-item-bg-anim);
	border: var(--generic-border);
}

details > summary::marker {
	display: none;
	content: "";
}

details > summary:hover {
	cursor: pointer;
}

.experiments {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.experiment {
	display: flex;
	background: var(--modal-item-bg);
	background-size: var(--modal-item-bg-size);
	border: var(--generic-border);
	animation: var(--modal-item-bg-anim);
	padding: 0.65rem;
	border-radius: var(--main-radius);
}

.experiment input {
	width: 50%;
}

.uisounds,
.soundpacks {
	display: flex;
	flex-wrap: wrap;
	gap: 0.25rem;
}

.uisounds li,
.soundpacks li {
	display: flex;
	gap: 0.25rem;
	background: var(--modal-item-bg);
	background-size: var(--modal-item-bg-size);
	animation: var(--modal-item-bg-anim);
	padding: 0.5rem;
	border: var(--generic-border);
	border-radius: var(--main-radius);
}

#settings-menu-full {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#settings-menu-full > details {
	display: flex;
	flex-direction: column;
	/* gap: 0.5rem; */
	padding: 0.5rem;
}

.experiment-exist h3 {
	margin: 0;
}

.experiment-exist {
	background-color: rgba(0, 0, 0, 0.25);
	padding: 5px;
	border-radius: var(--main-radius);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

.cti {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	left: calc(50% - 50vw);
	/* transform: translateX(4%); */
	background-color: rgba(0, 0, 0, 0.25);
	border: var(--generic-border);
	border-radius: var(--main-radius);
	padding: 0.5rem;
	width: max-content;
	border-radius: var(--main-radius) var(--main-radius) 0 0;
}

.flags {
	display: flex;
	flex-wrap: wrap;
}

.plugin-setting {
	display: flex;
	flex-direction: column;
	gap: 0.125rem;
}

.i {
	font-style: italic;
}

.plugin-setting > input,
.array-holder > input {
	width: min-content;
}

.array-holder {
	display: inline-flex;
	flex-direction: column;
	gap: 0.5rem;
}

.item-holder {
	display: flex;
	flex-direction: row;
	align-items: center;
}
