:theme-meta {
	--name: "Cyan";
	--description: "This is a light mode cyan theme. Dark mode users beware!";
	--author: "Freedeck";
	--version: "1.1.0";
}

:root {
  --blue-gradient: linear-gradient(
    135deg,
    #00d4ff 0%,
    #0083b0 33%,
    #00d4ff 66%,
    #0083b0 100%
  );

	--main-bg: var(--blue-gradient);

  --tile-bg: rgba(255, 255, 255, 0.15);
  --tile-border: 1px solid rgba(255, 255, 255, 0.3);

  --modal-bg: #002b3d;
  --modal-color: #ffffff;

  --modal-item-bg: rgba(0, 183, 255, 0.2);
  --modal-item-text: #ffffff;
  --modal-item-bg-anim: none;

  --input-bg: rgba(255, 255, 255, 0.9);
  --input-color: #002b3d;

  --companion-left-sidebar-bg: rgba(0, 43, 61, 0.85);
  --companion-right-sidebar-bg: rgba(0, 43, 61, 0.5);

  --companion-left-sidebar-color: #00ecff;
  --companion-right-sidebar-color: #ffffff;

	--companion-sidebar-item-bg: rgba(30, 111, 143, 0.37);
}
