:theme-meta {
	--name: "Cyan";
	--description: "This is a very light cyan theme. Dark mode users beware!";
	--author: "Freedeck";
	--version: "1.0.0";
}

:root {
	--blue-gradient: linear-gradient(
		45deg,
		rgba(0, 183, 255, 1) 0%,
		rgb(34, 178, 235) 33%,
		rgba(0, 183, 255, 1) 66%,
		rgb(34, 178, 235) 100%
	);

	--main-bg: var(--blue-gradient);

	--tile-bg: rgba(0, 73, 102, 0.125);

	--modal-bg: hsl(197, 100%, 50%);
	--modal-color: black;

	--modal-item-bg: var(--blue-gradient);
	--modal-item-text: black;

	--input-bg: hsl(197, 100%, 56%);

	--companion-left-sidebar-bg: hsl(197, 100%, 40%);
	--companion-right-sidebar-bg: hsl(197, 100%, 40%);

	--companion-left-sidebar-color: white;
	--companion-right-sidebar-color: white;

	--companion-sidebar-item-bg: rgba(30, 111, 143, 0.37);
}
