:theme-meta {
	--name: "Gold";
	--description: "It's like a golden Freedeck! Except it is gold!";
	--author: "Freedeck";
	--version: "1.0.0";
}

:root {
	--main-bg: linear-gradient(
		45deg,
		hsl(48, 100%, 62%) 0%,
		hsl(39, 100%, 62%)33%,
		hsl(48, 100%, 62%) 66%,
		hsl(39, 100%, 62%) 100%
	);

	--modal-bg: hsl(48, 100%, 62%);
	--modal-color: black;

	--modal-item-bg: linear-gradient(
		45deg,
		hsl(48, 100%, 62%) 0%,
		hsl(39, 100%, 62%)33%,
		rgba(255, 215, 59, 1) 66%,
		hsl(39, 100%, 62%) 100%
	);
	--input-bg: rgba(255, 215, 59, 0.25);

	--companion-left-sidebar-bg: rgb(139, 118, 33);
	--companion-right-sidebar-bg: rgb(139, 118, 33);

	--companion-left-sidebar-color: white;
	--companion-right-sidebar-color: white;

	--companion-sidebar-item-bg: rgba(255, 215, 59, 0.25);
	--companion-sidebar-item-color: white;

	--tile-bg: rgba(163, 146, 77, 0.25);
	--tile-border: 2px solid rgba(0, 0, 0, 0.125);
}
