:theme-meta {
	--name: "High Visibility";
	--description: "Removes flashy gradients, making UI less splashy and easier on the eyes.";
	--author: "Freedeck";
	--version: "1.0.0";
}

:root {
	--main-bg: var(--modal-bg);
}